# ===== OS =====
.DS_Store
Thumbs.db

# ===== Environment =====
.env
*.log

# ===== IntelliJ =====
.idea/
*.iml

# ===== VS Code =====
.vscode/

# ===== Node / React =====
node_modules/
dist/
build/

# ===== Spring Boot / Java =====
target/
*.jar
*.war

# ===== Dependency caches =====
.gradle/
